# Algorithmic Trading Model with ML4T `yfinance` Market and Fundamental Data Examples
### David Lowe
### June 28, 2022

NOTE: This script is for learning purposes only and does not constitute a recommendation for buying or selling any stock mentioned in this script.

SUMMARY: This project aims to construct and test an algorithmic trading model and document the end-to-end steps using a template.

INTRODUCTION: This script aims to replicate the examples found in chapter one of the book Machine Learning for Algorithmic Trading by Stefan Jansen. The script seeks to validate further the Python environment and package requirements for running these code examples. The eventual goal is to integrate various example code segments into an end-to-end algorithmic trading system.

Dataset ML Model: Time series analysis with numerical attributes

Dataset Used: US Equities and Fund Prices Hosted by Yahoo! Finance

Source and Further Discussion of the Code Examples: https://www.ml4trading.io/chapter/1

## Imports & Settings

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd
import yfinance as yf
from datetime import datetime

## How to work with a Ticker object

In [3]:
symbol = 'INTC'
ticker = yf.Ticker(symbol)

### Show ticker info

In [4]:
pd.Series(ticker.info)

zip                                                           95054-1549
sector                                                        Technology
fullTimeEmployees                                                 122900
longBusinessSummary    Intel Corporation engages in the design, manuf...
city                                                         Santa Clara
                                             ...
dayHigh                                                            38.12
regularMarketPrice                                                 36.97
preMarketPrice                                                      None
logo_url                             https://logo.clearbit.com/intel.com
trailingPegRatio                                                  2.1556
Length: 153, dtype: object

### Get market data

In [5]:
data = ticker.history(period='5d',
                      interval='1m',
                      start=datetime(2022, 6, 13),
                      end=datetime(2022, 6, 17),
                      actions=True,
                      auto_adjust=True,
                      back_adjust=False)
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1561 entries, 2022-06-13 09:30:00-04:00 to 2022-06-17 16:00:00-04:00
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Open          1561 non-null   float64
 1   High          1561 non-null   float64
 2   Low           1561 non-null   float64
 3   Close         1561 non-null   float64
 4   Volume        1561 non-null   int64
 5   Dividends     1561 non-null   int64
 6   Stock Splits  1561 non-null   int64
dtypes: float64(4), int64(3)
memory usage: 97.6 KB

### View company actions

In [6]:
# show actions (dividends, splits)
ticker.actions

Empty DataFrame
Columns: [Dividends, Stock Splits]
Index: []

In [7]:
ticker.dividends

Series([], Name: Dividends, dtype: int64)

In [8]:
ticker.splits

Series([], Name: Stock Splits, dtype: int64)

### Annual and Quarterly Financial Statement Summary

In [9]:
ticker.financials

,2021-12-25,2020-12-26,2019-12-28,2018-12-29
Research Development,15190000000.0,13556000000.0,13362000000.0,13543000000.0
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,21703000000.0,25078000000.0,24058000000.0,23317000000.0
Minority Interest,None,None,None,None
Net Income,19868000000.0,20899000000.0,21048000000.0,21053000000.0
Selling General Administrative,6543000000.0,6180000000.0,6350000000.0,6950000000.0
Gross Profit,43815000000.0,43612000000.0,42140000000.0,43737000000.0
Ebit,22082000000.0,23876000000.0,22428000000.0,23244000000.0
Operating Income,22082000000.0,23876000000.0,22428000000.0,23244000000.0
Other Operating Expenses,NaN,NaN,393000000.0,-72000000.0
Interest Expense,-597000000.0,-629000000.0,-489000000.0,-468000000.0
Extraordinary Items,None,None,None,None
Non Recurring,None,None,None,None
Other Items,None,None,None,None
Income Tax Expense,1835000000.0,4179000000.0,3010000000.0,2264000000.0
Total Revenue,79024000000.0,77867000000.0,71965000000.0,70848000000.0
Total Operating Expenses,56942000000.0,53991000000.0,49537000000.0,47604000000.0
Cost Of Revenue,35209000000.0,34255000000.0,29825000000.0,27111000000.0
Total Other Income Expense Net,-379000000.0,1202000000.0,1630000000.0,73000000.0
Discontinued Operations,None,None,None,None
Net Income From Continuing Ops,19868000000.0,20899000000.0,21048000000.0,21053000000.0
Net Income Applicable To Common Shares,19868000000.0,20899000000.0,21048000000.0,21053000000.0

In [10]:
ticker.quarterly_financials

,2022-04-02,2021-12-25,2021-09-25,2021-06-26
Research Development,4362000000.0,4049000000.0,3803000000.0,3715000000.0
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,9661000000.0,5194000000.0,6858000000.0,5745000000.0
Minority Interest,None,None,None,None
Net Income,8113000000.0,4623000000.0,6823000000.0,5061000000.0
Selling General Administrative,1752000000.0,1942000000.0,1674000000.0,1599000000.0
Gross Profit,9244000000.0,11009000000.0,10746000000.0,11206000000.0
Ebit,3130000000.0,5018000000.0,5269000000.0,5892000000.0
Operating Income,3130000000.0,5018000000.0,5269000000.0,5892000000.0
Other Operating Expenses,None,None,None,None
Interest Expense,-124000000.0,-134000000.0,-144000000.0,-129000000.0
Extraordinary Items,None,None,None,None
Non Recurring,None,None,None,None
Other Items,None,None,None,None
Income Tax Expense,1548000000.0,571000000.0,35000000.0,684000000.0
Total Revenue,18353000000.0,20528000000.0,19192000000.0,19631000000.0
Total Operating Expenses,15223000000.0,15510000000.0,13923000000.0,13739000000.0
Cost Of Revenue,9109000000.0,9519000000.0,8446000000.0,8425000000.0
Total Other Income Expense Net,6531000000.0,176000000.0,1589000000.0,-147000000.0
Discontinued Operations,None,None,None,None
Net Income From Continuing Ops,8113000000.0,4623000000.0,6823000000.0,5061000000.0
Net Income Applicable To Common Shares,8113000000.0,4623000000.0,6823000000.0,5061000000.0

### Annual and Quarterly Balance Sheet

In [11]:
ticker.balance_sheet

,2021-12-25,2020-12-26,2019-12-28,2018-12-29
Intangible Assets,7.270000e+09,9.026000e+09,1.082700e+10,1.183600e+10
Total Liab,7.301500e+10,7.205300e+10,5.902000e+10,5.340000e+10
Total Stockholder Equity,9.539100e+10,8.103800e+10,7.750400e+10,7.456300e+10
Other Current Liab,2.555000e+09,3.438000e+09,2.330000e+09,1.438000e+09
Total Assets,1.684060e+11,1.530910e+11,1.365240e+11,1.279630e+11
Common Stock,2.800600e+10,2.555600e+10,2.526100e+10,2.536500e+10
Other Current Assets,8.897000e+09,7.575000e+09,1.637000e+09,2.646000e+09
Retained Earnings,6.826500e+10,5.623300e+10,5.352300e+10,5.017200e+10
Other Liab,1.174800e+10,1.340200e+10,1.140200e+10,1.167600e+10
Good Will,2.696300e+10,2.697100e+10,2.627600e+10,2.451300e+10
Treasury Stock,-8.800000e+08,-7.510000e+08,-1.280000e+09,-9.740000e+08
Other Assets,5.523000e+09,5.917000e+09,5.553000e+09,4.421000e+09
Cash,4.827000e+09,5.865000e+09,4.194000e+09,3.019000e+09
Total Current Liabilities,2.746200e+10,2.475400e+10,2.231000e+10,1.662600e+10
Deferred Long Term Asset Charges,8.740000e+08,1.232000e+09,1.209000e+09,1.122000e+09
Short Long Term Debt,4.656000e+09,2.632000e+09,3.747000e+09,7.610000e+08
Other Stockholder Equity,-8.800000e+08,-7.510000e+08,-1.280000e+09,-9.740000e+08
Property Plant Equipment,6.379400e+10,5.658400e+10,5.538600e+10,4.897600e+10
Total Current Assets,5.771800e+10,4.724900e+10,3.123900e+10,2.878700e+10
Long Term Investments,7.138000e+09,7.344000e+09,7.243000e+09,9.430000e+09
Net Tangible Assets,6.115800e+10,4.504100e+10,4.040100e+10,3.821400e+10
Short Term Investments,2.103000e+09,2.292000e+09,1.082000e+09,2.788000e+09
Net Receivables,9.632000e+09,7.352000e+09,7.735000e+09,7.238000e+09
Long Term Debt,3.351000e+10,3.389700e+10,2.530800e+10,2.509800e+10
Inventory,1.077600e+10,8.427000e+09,8.744000e+09,7.253000e+09
Accounts Payable,5.747000e+09,5.581000e+09,4.128000e+09,3.824000e+09

In [12]:
ticker.quarterly_balance_sheet

,2022-04-02,2021-12-25,2021-09-25,2021-06-26
Intangible Assets,6.813000e+09,7.270000e+09,7.684000e+09,8.018000e+09
Total Liab,7.322000e+10,7.301500e+10,7.787500e+10,6.939000e+10
Total Stockholder Equity,1.031360e+11,9.539100e+10,9.008700e+10,8.520700e+10
Other Current Liab,6.250000e+08,2.555000e+09,5.560000e+08,6.180000e+08
Total Assets,1.763560e+11,1.684060e+11,1.679620e+11,1.545970e+11
Common Stock,2.924400e+10,2.800600e+10,2.759200e+10,2.665500e+10
Other Current Assets,4.076000e+09,8.897000e+09,8.260000e+09,8.025000e+09
Retained Earnings,7.489400e+10,6.826500e+10,6.364200e+10,5.964700e+10
Other Liab,1.111000e+10,1.174800e+10,1.269300e+10,1.284000e+10
Good Will,2.701100e+10,2.696300e+10,2.678600e+10,2.676800e+10
Treasury Stock,-1.002000e+09,-8.800000e+08,-1.147000e+09,-1.095000e+09
Other Assets,7.210000e+09,5.523000e+09,5.452000e+09,5.356000e+09
Cash,6.215000e+09,4.827000e+09,7.870000e+09,4.746000e+09
Total Current Liabilities,2.932200e+10,2.746200e+10,2.957200e+10,2.483600e+10
Short Long Term Debt,4.459000e+09,4.656000e+09,4.694000e+09,3.695000e+09
Other Stockholder Equity,-1.002000e+09,-8.800000e+08,-1.147000e+09,-1.095000e+09
Property Plant Equipment,6.671800e+10,6.379400e+10,5.973300e+10,5.816600e+10
Total Current Assets,6.256800e+10,5.771800e+10,6.130400e+10,4.937200e+10
Long Term Investments,6.036000e+09,7.138000e+09,7.003000e+09,6.917000e+09
Net Tangible Assets,6.931200e+10,6.115800e+10,5.561700e+10,5.042100e+10
Short Term Investments,3.248100e+10,2.103000e+09,4.004000e+09,3.014000e+09
Net Receivables,7.861000e+09,9.632000e+09,8.611000e+09,7.673000e+09
Long Term Debt,3.278800e+10,3.351000e+10,3.561000e+10,3.171400e+10
Inventory,1.193500e+10,1.077600e+10,9.798000e+09,8.817000e+09
Accounts Payable,7.210000e+09,5.747000e+09,6.792000e+09,5.917000e+09
Deferred Long Term Asset Charges,NaN,8.740000e+08,NaN,NaN

### Annual and Quarterly Cashflow Statement

In [13]:
ticker.cashflow

,2021-12-25,2020-12-26,2019-12-28,2018-12-29
Investments,-5.287000e+09,-6.891000e+09,2.140000e+09,3.856000e+09
Change To Liabilities,-3.930000e+08,2.240000e+08,-8.600000e+07,1.578000e+09
Total Cashflows From Investing Activities,-2.516700e+10,-2.079600e+10,-1.440500e+10,-1.123900e+10
Net Borrowings,2.474000e+09,5.722000e+09,7.650000e+08,-2.603000e+09
Total Cash From Financing Activities,-5.862000e+09,-1.291700e+10,-1.756500e+10,-1.860700e+10
Change To Operating Activities,9.740000e+08,-8.900000e+07,1.682000e+09,4.100000e+07
Issuance Of Stock,1.020000e+09,8.970000e+08,7.500000e+08,5.550000e+08
Net Income,1.986800e+10,2.089900e+10,2.104800e+10,2.105300e+10
Change In Cash,-1.038000e+09,1.671000e+09,1.175000e+09,-4.140000e+08
Repurchase Of Stock,-2.415000e+09,-1.422900e+10,-1.357600e+10,-1.073000e+10
Total Cash From Operating Activities,2.999100e+10,3.538400e+10,3.314500e+10,2.943200e+10
Depreciation,1.179200e+10,1.223900e+10,1.082600e+10,9.085000e+09
Other Cashflows From Investing Activities,6.580000e+08,1.385000e+09,1.626000e+09,-2.720000e+08
Dividends Paid,-5.644000e+09,-5.568000e+09,-5.576000e+09,-5.541000e+09
Change To Inventory,-2.339000e+09,-6.870000e+08,-1.481000e+09,-2.140000e+08
Change To Account Receivables,-2.674000e+09,8.830000e+08,-9.350000e+08,-1.714000e+09
Other Cashflows From Financing Activities,-1.297000e+09,2.610000e+08,7.200000e+07,-2.880000e+08
Change To Netincome,3.204000e+09,2.950000e+08,1.206000e+09,1.204000e+09
Capital Expenditures,-2.032900e+10,-1.445300e+10,-1.621300e+10,-1.518100e+10

In [14]:
ticker.quarterly_cashflow

,2022-04-02,2021-12-25,2021-09-25,2021-06-26
Investments,-3.919000e+09,2.769000e+09,-6.481000e+09,-3.010000e+09
Change To Liabilities,-1.340000e+08,8.900000e+07,6.640000e+08,1.170000e+08
Total Cashflows From Investing Activities,-2.640000e+09,-5.034000e+09,-1.068200e+10,-6.904000e+09
Net Borrowings,-2.990000e+08,-2.000000e+09,4.974000e+09,-5.000000e+08
Total Cash From Financing Activities,-1.863000e+09,-3.806000e+09,3.906000e+09,-2.288000e+09
Change To Operating Activities,-3.170000e+09,-6.800000e+07,2.137000e+09,8.290000e+08
Issuance Of Stock,5.890000e+08,4.000000e+06,4.270000e+08,2.400000e+07
Net Income,8.113000e+09,4.623000e+09,6.823000e+09,5.061000e+09
Change In Cash,1.388000e+09,-3.043000e+09,3.124000e+09,-4.460000e+08
Total Cash From Operating Activities,5.891000e+09,5.797000e+09,9.900000e+09,8.746000e+09
Depreciation,3.348000e+09,3.074000e+09,2.959000e+09,2.857000e+09
Other Cashflows From Investing Activities,-4.680000e+08,3.800000e+07,2.400000e+08,-2.600000e+07
Dividends Paid,-1.487000e+09,-1.413000e+09,-1.410000e+09,-1.410000e+09
Change To Inventory,-1.147000e+09,-1.127000e+09,-1.086000e+09,-3.060000e+08
Change To Account Receivables,2.384000e+09,-1.056000e+09,-9.400000e+08,-2.520000e+08
Other Cashflows From Financing Activities,-6.660000e+08,-3.970000e+08,-8.500000e+07,-2.880000e+08
Change To Netincome,-4.722000e+09,1.330000e+08,2.700000e+07,7.090000e+08
Capital Expenditures,-4.797000e+09,-7.632000e+09,-4.441000e+09,-3.868000e+09
Repurchase Of Stock,NaN,NaN,NaN,-1.140000e+08

In [15]:
ticker.earnings

          Revenue     Earnings
Year
2018  70848000000  21053000000
2019  71965000000  21048000000
2020  77867000000  20899000000
2021  79024000000  19868000000

In [16]:
ticker.quarterly_earnings

             Revenue    Earnings
Quarter
2Q2021   19631000000  5061000000
3Q2021   19192000000  6823000000
4Q2021   20528000000  4623000000
2Q2022   18353000000  8113000000

### Sustainability: Environmental, Social and Governance (ESG)

In [17]:
ticker.sustainability

                                Value
2022-5
palmOil                         False
controversialWeapons            False
gambling                        False
socialScore                      5.63
nuclear                         False
furLeather                      False
alcoholic                       False
gmo                             False
catholic                        False
socialPercentile                 None
peerCount                          31
governanceScore                  6.68
environmentPercentile            None
animalTesting                   False
tobacco                         False
totalEsg                        16.67
highestControversy                  3
esgPerformance             UNDER_PERF
coal                            False
pesticides                      False
adult                           False
percentile                      14.17
peerGroup              Semiconductors
smallArms                       False
environmentScore                 4.36
governancePercentile             None
militaryContract                False

### Analyst Recommendations

In [18]:
ticker.recommendations.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 401 entries, 2012-04-18 06:30:00 to 2022-06-06 11:12:28
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Firm        401 non-null    object
 1   To Grade    401 non-null    object
 2   From Grade  401 non-null    object
 3   Action      401 non-null    object
dtypes: object(4)
memory usage: 15.7+ KB

In [19]:
ticker.recommendations.tail(10)

                               Firm        To Grade    From Grade Action
Date
2022-01-27 12:30:47          Mizuho         Neutral                 main
2022-01-27 13:43:56   Credit Suisse      Outperform                 main
2022-01-27 15:27:50             UBS         Neutral                 main
2022-02-18 14:15:38        Barclays     Underweight                 main
2022-02-18 14:37:50     BMO Capital  Market Perform                 main
2022-02-23 10:26:16   Raymond James  Market Perform  Underperform     up
2022-03-03 11:13:10  Morgan Stanley     Underweight  Equal-Weight   down
2022-04-29 10:55:30         Needham             Buy                 main
2022-04-29 12:39:41     Wells Fargo    Equal-Weight                 main
2022-06-06 11:12:28       Citigroup         Neutral                 main

### Upcoming Events

In [20]:
ticker.calendar

                                    0                    1
Earnings Date     2022-07-20 20:00:00  2022-07-25 20:00:00
Earnings Average                 0.71                 0.71
Earnings Low                     0.62                 0.62
Earnings High                    0.86                 0.86
Revenue Average           18002200000          18002200000
Revenue Low               17435000000          17435000000
Revenue High              18725800000          18725800000

### Option Expiration Dates

In [21]:
ticker.options

('2022-06-24',
 '2022-07-01',
 '2022-07-08',
 '2022-07-15',
 '2022-07-22',
 '2022-07-29',
 '2022-08-19',
 '2022-09-16',
 '2022-10-21',
 '2022-11-18',
 '2022-12-16',
 '2023-01-20',
 '2023-06-16',
 '2024-01-19')

In [22]:
expiration = ticker.options[0]
options = ticker.option_chain(expiration)
options.calls.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46 entries, 0 to 45
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   contractSymbol     46 non-null     object
 1   lastTradeDate      46 non-null     datetime64[ns, UTC]
 2   strike             46 non-null     float64
 3   lastPrice          46 non-null     float64
 4   bid                46 non-null     float64
 5   ask                46 non-null     float64
 6   change             46 non-null     float64
 7   percentChange      42 non-null     float64
 8   volume             46 non-null     int64
 9   openInterest       42 non-null     float64
 10  impliedVolatility  46 non-null     float64
 11  inTheMoney         46 non-null     bool
 12  contractSize       46 non-null     object
 13  currency           46 non-null     object
dtypes: bool(1), datetime64[ns, UTC](1), float64(8), int64(1), object(3)
memory usage: 4.8+ KB

In [23]:
options.calls.head()

,contractSymbol,lastTradeDate,strike,lastPrice,bid,ask,change,percentChange,volume,openInterest,impliedVolatility,inTheMoney,contractSize,currency
0,INTC220624C00025000,2022-06-17 17:13:48+00:00,25.0,12.25,11.90,12.10,0.18,1.491303,4,3.0,1.546877,True,REGULAR,USD
1,INTC220624C00030000,2022-06-16 16:34:14+00:00,30.0,7.40,6.90,7.10,0.00,0.000000,100,112.0,0.890626,True,REGULAR,USD
2,INTC220624C00032000,2022-06-17 19:02:17+00:00,32.0,4.95,4.95,5.10,4.95,NaN,1,NaN,0.730471,True,REGULAR,USD
3,INTC220624C00033500,2022-06-17 18:47:24+00:00,33.5,3.50,3.45,3.65,3.50,NaN,1,NaN,0.582035,True,REGULAR,USD
4,INTC220624C00034000,2022-06-17 16:06:02+00:00,34.0,2.82,3.00,3.15,-0.58,-17.058828,11,9.0,0.550786,True,REGULAR,USD

In [24]:
options.puts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   contractSymbol     48 non-null     object
 1   lastTradeDate      48 non-null     datetime64[ns, UTC]
 2   strike             48 non-null     float64
 3   lastPrice          48 non-null     float64
 4   bid                48 non-null     float64
 5   ask                48 non-null     float64
 6   change             48 non-null     float64
 7   percentChange      40 non-null     float64
 8   volume             44 non-null     float64
 9   openInterest       40 non-null     float64
 10  impliedVolatility  48 non-null     float64
 11  inTheMoney         48 non-null     bool
 12  contractSize       48 non-null     object
 13  currency           48 non-null     object
dtypes: bool(1), datetime64[ns, UTC](1), float64(9), object(3)
memory usage: 5.0+ KB

## Downloading multiple symbols

In [25]:
tickers = yf.Tickers('msft aapl googl')

In [26]:
tickers

yfinance.Tickers object <MSFT,AAPL,GOOGL>

In [27]:
pd.Series(tickers.tickers['MSFT'].info)

zip                                                           98052-6399
sector                                                        Technology
fullTimeEmployees                                                 181000
longBusinessSummary    Microsoft Corporation develops, licenses, and ...
city                                                             Redmond
                                             ...
dayHigh                                                            250.5
regularMarketPrice                                                247.65
preMarketPrice                                                      None
logo_url                         https://logo.clearbit.com/microsoft.com
trailingPegRatio                                                  1.6973
Length: 153, dtype: object

In [28]:
tickers.tickers['AAPL'].history(period="1mo")

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-05-18,146.850006,147.360001,139.899994,140.820007,109742900,0,0
2022-05-19,139.880005,141.660004,136.600006,137.350006,136095600,0,0
2022-05-20,139.089996,140.699997,132.610001,137.589996,137426100,0,0
2022-05-23,137.789993,143.259995,137.649994,143.110001,117726300,0,0
2022-05-24,140.809998,141.970001,137.330002,140.360001,104132700,0,0
2022-05-25,138.429993,141.789993,138.339996,140.520004,92482700,0,0
2022-05-26,137.389999,144.339996,137.139999,143.779999,90601500,0,0
2022-05-27,145.389999,149.679993,145.259995,149.639999,90978500,0,0
2022-05-31,149.070007,150.660004,146.839996,148.839996,103718400,0,0
2022-06-01,149.899994,151.740005,147.679993,148.710007,74286600,0,0
2022-06-02,147.830002,151.270004,146.860001,151.210007,72348100,0,0
2022-06-03,146.899994,147.970001,144.460007,145.380005,88471400,0,0
2022-06-06,147.029999,148.570007,144.899994,146.139999,71598400,0,0
2022-06-07,144.350006,149.000000,144.100006,148.710007,67808200,0,0
2022-06-08,148.580002,149.869995,147.460007,147.960007,53950200,0,0
2022-06-09,147.080002,147.949997,142.529999,142.639999,69473000,0,0
2022-06-10,140.279999,140.759995,137.059998,137.130005,91437900,0,0
2022-06-13,132.869995,135.199997,131.440002,131.880005,122207100,0,0
2022-06-14,133.130005,133.889999,131.479996,132.759995,84784300,0,0
2022-06-15,134.289993,137.339996,132.160004,135.429993,91533000,0,0
2022-06-16,132.080002,132.389999,129.039993,130.059998,108123900,0,0
2022-06-17,130.070007,133.080002,129.809998,131.559998,134118500,0,0

In [29]:
tickers.history(period='1mo').stack(-1)

[*********************100%***********************]  3 of 3 completed

                        Close  Dividends         High          Low  \
Date
2022-05-18 AAPL    140.820007       0.00   147.360001   139.899994
           GOOGL  2237.989990       0.00  2308.000000  2231.110107
           MSFT    254.080002       0.62   263.600006   252.770004
2022-05-19 AAPL    137.350006       0.00   141.660004   136.600006
           GOOGL  2207.679932       0.00  2260.199951  2200.000000
...                       ...        ...          ...          ...
2022-06-16 GOOGL  2120.669922       0.00  2172.969971  2102.760010
           MSFT    244.970001       0.00   247.419998   243.020004
2022-06-17 AAPL    131.559998       0.00   133.080002   129.809998
           GOOGL  2142.870117       0.00  2173.989990  2100.919922
           MSFT    247.649994       0.00   250.500000   244.029999

                         Open  Stock Splits     Volume
Date
2022-05-18 AAPL    146.850006             0  109742900
           GOOGL  2300.000000             0    1756300
           MSFT    263.000000             0   31356000
2022-05-19 AAPL    139.880005             0  136095600
           GOOGL  2228.629883             0    1707200
...                       ...           ...        ...
2022-06-16 GOOGL  2144.419922             0    2584200
           MSFT    245.979996             0   33169200
2022-06-17 AAPL    130.070007             0  134118500
           GOOGL  2120.669922             0    2555300
           MSFT    244.699997             0   42800400

[66 rows x 7 columns]

In [30]:
data = yf.download("SPY AAPL", start="2020-01-01", end="2020-01-05")

[*********************100%***********************]  2 of 2 completed

In [31]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2 entries, 2020-01-02 to 2020-01-03
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   (Adj Close, AAPL)  2 non-null      float64
 1   (Adj Close, SPY)   2 non-null      float64
 2   (Close, AAPL)      2 non-null      float64
 3   (Close, SPY)       2 non-null      float64
 4   (High, AAPL)       2 non-null      float64
 5   (High, SPY)        2 non-null      float64
 6   (Low, AAPL)        2 non-null      float64
 7   (Low, SPY)         2 non-null      float64
 8   (Open, AAPL)       2 non-null      float64
 9   (Open, SPY)        2 non-null      float64
 10  (Volume, AAPL)     2 non-null      int64
 11  (Volume, SPY)      2 non-null      int64
dtypes: float64(10), int64(2)
memory usage: 208.0 bytes

In [32]:
data = yf.download(
        tickers = "SPY AAPL MSFT", # list or string

        # use "period" instead of start/end
        # valid periods: 1d,5d,1mo,3mo,6mo,1y,2y,5y,10y,ytd,max
        # (optional, default is '1mo')
        period = "5d",

        # fetch data by interval (including intraday if period < 60 days)
        # valid intervals: 1m,2m,5m,15m,30m,60m,90m,1h,1d,5d,1wk,1mo,3mo
        # (optional, default is '1d')
        interval = "1m",

        # group by ticker (to access via data['SPY'])
        # (optional, default is 'column')
        group_by = 'ticker',

        # adjust all OHLC automatically
        # (optional, default is False)
        auto_adjust = True,

        # download pre/post regular market hours data
        # (optional, default is False)
        prepost = True,

        # use threads for mass downloading? (True/False/Integer)
        # (optional, default is True)
        threads = True,

        # proxy URL scheme use use when downloading?
        # (optional, default is None)
        proxy = None
    )

[*********************100%***********************]  3 of 3 completed

In [33]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4724 entries, 2022-06-13 04:00:00-04:00 to 2022-06-17 19:59:00-04:00
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   (SPY, Open)     4709 non-null   float64
 1   (SPY, High)     4709 non-null   float64
 2   (SPY, Low)      4709 non-null   float64
 3   (SPY, Close)    4709 non-null   float64
 4   (SPY, Volume)   4709 non-null   float64
 5   (AAPL, Open)    4723 non-null   float64
 6   (AAPL, High)    4723 non-null   float64
 7   (AAPL, Low)     4723 non-null   float64
 8   (AAPL, Close)   4723 non-null   float64
 9   (AAPL, Volume)  4723 non-null   float64
 10  (MSFT, Open)    4608 non-null   float64
 11  (MSFT, High)    4608 non-null   float64
 12  (MSFT, Low)     4608 non-null   float64
 13  (MSFT, Close)   4608 non-null   float64
 14  (MSFT, Volume)  4608 non-null   float64
dtypes: float64(15)
memory usage: 590.5 KB

In [34]:
from pandas_datareader import data as pdr

import yfinance as yf
yf.pdr_override()

# download dataframe
data = pdr.get_data_yahoo('SPY',
                          start='2017-01-01',
                          end='2019-04-30',
                          auto_adjust=False)

[*********************100%***********************]  1 of 1 completed

In [35]:
# auto_adjust = True
data.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-04-23,290.679993,293.140015,290.420013,292.880005,277.617126,52246600
2019-04-24,292.790009,293.160004,292.070007,292.230011,277.000946,50392900
2019-04-25,292.119995,292.779999,290.730011,292.049988,276.830292,57770900
2019-04-26,292.100006,293.489990,291.239990,293.410004,278.119446,50916400
2019-04-29,293.510010,294.450012,293.410004,293.869995,278.555450,57197700

In [36]:
# auto_adjust = False
data.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-04-23,290.679993,293.140015,290.420013,292.880005,277.617126,52246600
2019-04-24,292.790009,293.160004,292.070007,292.230011,277.000946,50392900
2019-04-25,292.119995,292.779999,290.730011,292.049988,276.830292,57770900
2019-04-26,292.100006,293.489990,291.239990,293.410004,278.119446,50916400
2019-04-29,293.510010,294.450012,293.410004,293.869995,278.555450,57197700